<div class="pull-right" style="margin-bottom:10px">
  <%= link_to 'New Word', new_word_path, class:"btn btn-info" %>
</div>
<br><br>
<div class="row">
  <% @words.each do |word| %>
    <div class="panel panel-default">
      <div class="panel-heading text-left">
        <%= word.spelling %> : <%= word.meaning %>
        <% if word.mistake_records.where("user_id =?", current_user.id).count != 0 %>
          <span class="numbercircle notice notice-icon" ><%= word.mistake_records.where("user_id =?", current_user.id).count %></span>
        <% end %>
        <p style="float:right">Unit <%= word.unit.unit_number %></p>
      </div>
      <div class="panel-body">
        <p>
          例句:
          <br><br>
          <%= word.sentence %>
          <br>
        </p>
        <hr>
        <p>
          近义词:
          <br><br>
          <%= word.synonym %>
        </p>
        <p style="float:right"><%= link_to 'edit', edit_word_path(word), class: "btn btn-primary" %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="pull-right" style="margin-top:10px">
  <%= link_to 'Match Train', match_words_path, class: "btn btn-danger"%>
</div>
<%= paginate @words %>
