<h1 align="center">matching</h1>
<div class="pull-right" style="margin-bottom:10px">
  <%= link_to 'View error log', match_words_path(commit: 'View error log'), :remote => true, class: "btn btn-success" %>
  <%= link_to 'renew', renew_word_words_path, class: "btn btn-warning" %>
</div>

<div id="view_error_log">
  <table class="table table-hover">
  <tr>
    <th>number</th>
    <th>spelling</th>
    <th>synonym</th>
    <th>option</th>
    <th id="adjusting">Adjusting</th>
  </tr>
  <% @words.each_with_index do |word, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= word.spelling %></td>
      <%= simple_form_for :word, url: check_up_word_path(word), :remote => true,  html: {method: "post"} do |f| %>
      <td><%= f.select :synonym, options_for_select(@word_synonym)%></td>
      <td><%= f.submit 'Check Up', class: "btn btn-primary" %></td>
      <% end %>
      <% if word.mistake == 1 %>
      <td>√</td>
      <% elsif word.mistake == 2 %>
      <td>X</td>
      <% else %>
      <td id="check_right-<%= word.id %>"></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>

<%= paginate @words %>
