<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header col-md-6">
      <a class="navbar-brand" href="/">TOEFLWord</a>
      <div class="container">
      	<div class="row">
          <div class="search-input col-md-6">
            <div id="custom-search-input">
              <%= form_tag(words_path, method: :get) do %>
                <div class="input-group col-md-12">
                  <%= text_field_tag :word, '', class: "form-control" %>
                  <span class="input-group-btn">
                    <button class="form_submit btn btn-info btn-lg" name="commit" type="submit" value="Search" >
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user.present? %>
        <li><a href="#"><%= current_user.email %></a></li>
        <li>
          <%= link_to(destroy_user_session_path, method: :delete) do %>
          <span class="glyphicon glyphicon-log-out"> SignOut</span>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to(new_user_registration_path) do %>
          <span class="glyphicon glyphicon-user"> SignUp</span>
          <% end %>
        </li>
        <li>
          <%= link_to(new_user_session_path) do %>
          <span class="glyphicon glyphicon-log-in"> LogIn</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
